#released,
#soon,
#bought {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    margin: 1.2rem;
}

.header {
    padding: 45px;
    text-align: center;
    background: #f49f1c;
    color: black;
    font-size: 32px;
}

.nav {
    justify-content: center;
}
.nav-link {
    font-size: 1.5rem;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1rem 0.5rem;
}

.card-title,
.card-text {
    text-transform: capitalize;
}

.img-div {
    display: flex;
    height: 432px;
}

.img-div > img {
    height: 432px;
}
