/* Import Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root{
    /* Define Primary Colors */
    --clr-Blue: hsl(246, 80%, 60%);
    --clr-Orange:  hsl(15, 100%, 70%); /* Work */
    --clr-SoftBlue:  hsl(195, 74%, 62%); /* Play */
    --clr-LightRed : hsl(348, 100%, 68%); /* Study */
    --clr-LimeGreen : hsl(145, 58%, 55%); /* Exercice */
    --clr-Violet: hsl(264, 64%, 52%); /* Social */
    --clr-SoftOrange: hsl(43, 84%, 65%); /* Self Care */

    /* Define Neutral Colors  */
    --clr-VeryDarkBlue: hsl(226, 43%, 10%);
    --clr-DarkBlue: hsl(235, 46%, 20%);
    --clr-DesaturatedBlue: hsl(235, 45%, 61%);
    --clr-PaleBlue: hsl(236, 100%, 87%);

    /* Define Main Font Settings  */
    font-size: 18px;
    font-family: 'Rubik', sans-serif ;
}


body{
    display:flex;
    flex-direction: column;

    background-color: var(--clr-VeryDarkBlue);
    height: 100vh;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    margin: auto;
    width: 70%;
}

.profile{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    flex-grow: 0;

    min-width: 200px;
    min-height: 550px;
    background-color: var(--clr-DarkBlue);
    border-radius: 20px;
    overflow: hidden;

}

.profile-person{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    justify-content: space-around;

    padding: 20px;
    background-color: var(--clr-Blue);
    color:white;
    border-radius: 20px;
}

.name{
    font-size: 2rem;
}

.image{
    width: 70px;
    height: 70px;
    border: 2px solid white;
    border-radius: 100%;
}

.image > img{
    width: 100%;
    height: 100%;
}

.profile-buttons{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;

    padding: 20px;
}

.profile-buttons > a{
    cursor: pointer;
    color: var(--clr-PaleBlue);
}

.profile-buttons > a:hover,
.profile-buttons > a.active {
    cursor: pointer;
    color: white;
}

.timetrack{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 75%;
    row-gap: 1rem;
    justify-content: space-evenly;
}

.track{
    display: flex;
    
    width: 30%;
    border-radius: 10px;

    background-color: white;
    background-position: top -5px right 10px;
    background-repeat: no-repeat;
    background-size: 25%;    
}

.work{
    background-color: var(--clr-Orange);
    background-image: url("../images/icon-work.svg");

}

.play{
    background-color: var(--clr-SoftBlue);
    background-image: url("../images/icon-play.svg");
}

.study{
    background-color: var(--clr-LightRed);
    background-image: url("../images/icon-study.svg");
}

.exercise{
    background-color: var(--clr-LimeGreen);
    background-image: url("../images/icon-exercise.svg");
    background-position: top right 10px;
}

.social{
    background-color: var(--clr-Violet);
    background-image: url("../images/icon-social.svg");
}

.self-care{
    background-color: var(--clr-SoftOrange);
    background-image: url("../images/icon-self-care.svg");
    background-size: 22%; 
}

.data{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 80%;
    width: 100%;
    margin-top: auto;
    padding-inline: 20px;

    background-color: var(--clr-DarkBlue);
    color: white;
    border-radius: 9px;    
}

.data:hover{
    filter:brightness(1.5)
}

.current{
    font-size: 2.5rem;
}

.previous{
    color: var(--clr-PaleBlue);
    font-size: .75rem;
}

.data-title{
    display: flex;
    flex-direction: row;
}

.points{
    background-color: var(--clr-PaleBlue);
    mask: url("../images/icon-ellipsis.svg") no-repeat center;
    -webkit-mask: url("../images/icon-ellipsis.svg") no-repeat center;
    
    margin-left: auto;
    width: 20%;
    cursor: pointer;
}

.points:hover{
    background-color: white;
    mask: url("../images/icon-ellipsis.svg") no-repeat center;
    -webkit-mask: url("../images/icon-ellipsis.svg") no-repeat center;
}

footer{
    margin-top: 2rem;
}

@media screen and (max-width: 1200px){

    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;    
        width: 95%;
    }

    .profile{
        display: flex;
        flex-direction: column;
    
        flex-basis: 100%;
        flex-grow: 0;
        min-height: auto;
    }

    .profile-person{
        display: flex;
        flex-direction: row;
    }
    .profile-buttons{
        display:flex;
        flex-direction: row;
    }

    .timetrack{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        row-gap: 1rem;
    }

    .track{
        display: flex;
        
        width: 30%;
        min-height: 150px;  
        min-width: 275px;  
    }

    .data{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .data-title{
        width: 85%;
    }
}

@media screen and (max-width: 650px){

    .profile-person{
        gap: 1rem;
        align-items: center;
        font-size: 14px;
    }

    .name{
        font-size: 1.2rem;
    }

    .track{
        width: 100%;
    }

    .data{
        justify-content: space-between;
    }
    .data-title{
        width: 100%;
    }
}
